{% extends 'navbar.html' %}
{% block content %}
<style>
    form{
        text-align: center;
    }
</style>
{% for message in messages %}
<h5 class="alert alert-danger mt-5" style="width: 50%;">{{ message }}</h5>
{% endfor %}
<form method="post" action="{% url 'login1' %}">
    {% csrf_token %}
    <h5>LOGIN DETAILS</h5>
    <label>User Name</label>
    <input type="text" name="username"><br><br>
    <label>Password</label>
    <input type="password" name="password1"><br><br>
    
    <button type="submit">SUBMIT</button><br>
    
   </form>
{% endblock %}